.card{
    width: 25rem;
    border-radius: 1rem;
    background-color: rgb(179, 176, 176);
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card .comment{
    color: rgb(44, 43, 43);
    font-size: 1.1rem;
}
.card .profile{
    display: flex;
    gap: 1rem;
}
.card .profile img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.card .profile .nameDesignation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}