.section1{
    width: 100%;
    margin: 8rem 0rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.main{
    width: 90%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.section1 .main .para{
    width: 100%;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(31,41,55);
    border-radius: 0.8rem;
}
.section1 .main .para .quote{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.section1 .main .para .author{
    font-size: 1rem;
    /* font-weight: bold; */
    color: white;
}